.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: grid;
  place-items: center;
  background-color: black;
  color: white;
}

.card {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 12px;
}

input[type="text"]{
  width: 80%;
  padding: 10px;
  border-radius: 12px;
  border: none;
  margin: 10px 0;
  background-color: rgb(203, 203, 203);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

h1 {
  color:rgb(245, 68, 68);
}

button {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  padding: 10px;
  border-radius: 100px;
  border: none;
  font-weight: bold;
  background-color: rgb(203, 203, 203);
  cursor: pointer;
  transition: all 300ms;
}

button:hover {
  background-color: rgb(245, 68, 68);
  color: white;
  box-shadow: 0 0 10px 0px rgba(255, 78, 78, 0.5);
}

button:active {
  transform: scale(0.9);
}